COS80024

DATA SCIENCE PROJECT 1

PROJECT 4: MOVIE RECOMMENDATION SYSTEM

# S2.2: Data Checking and Reporting (Executor: Nakib)

This task aims to have basic understanding about the dataset and report important findings

Task Leader: Nakib

In [1]:
#Importing Necessary Modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats
import sys
!conda install --yes --prefix {sys.prefix} xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Promita\anaconda3

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.9.0                |           py38_0         2.9 MB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following packages will be UPDATED:

  conda              conda-forge::conda-4.8.5-py38h9bdc248~ --> pkgs/main::conda-4.9.0-py38_0



Downloading and Extracting Packages

conda-4.9.0          | 2.9 MB    |            |   0%
conda-4.9.0          | 2.9 MB    | #6         |  16%
conda-4.9.0          | 2.9 MB    | #####8     |  59%
conda-4.9.0          | 2.9 MB    | ########## | 100%
conda-4.9.0          | 2.9 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

# The required datasets are uploaded as dataframes.

In [2]:
#Loading the files

#Loading files

#File 1: uploading the file "movies_metadata"
metadata = pd.read_csv('movies_metadata.csv')

#File 2: uploading the file "datasets_links_small"
links = pd.read_csv('datasets_links_small.csv')

#File 3: uploading the file "ratings_small"
ratings = pd.read_csv('ratings_small.csv')

C:\Users\Promita\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Checking metadata:

In [3]:
print("Shape")
print(metadata.shape)

Shape
(45466, 24)

In [4]:
print('Column Headers')
for col in metadata.columns:
    print(col)

Column Headers
adult
belongs_to_collection
budget
genres
homepage
id
imdb_id
original_language
original_title
overview
popularity
poster_path
production_companies
production_countries
release_date
revenue
runtime
spoken_languages
status
tagline
title
video
vote_average
vote_count

Features

adult: Indicates if the movie is X-Rated or Adult.

belongs_to_collection: A stringified dictionary that gives information on the movie series the particular film belongs to.

budget: The budget of the movie in dollars.

genres: A stringified list of dictionaries that list out all the genres associated with the movie.

homepage: The Official Homepage of the move.

id: The ID of the move.

imdb_id: The IMDB ID of the movie.

original_language: The language in which the movie was originally shot in.

original_title: The original title of the movie.

overview: A brief blurb of the movie.
    
popularity: The Popularity Score assigned by TMDB.

poster_path: The URL of the poster image.

production_companies: A stringified list of production companies involved with the making of the movie.

production_countries: A stringified list of countries where the movie was shot/produced in.

release_date: Theatrical Release Date of the movie.

revenue: The total revenue of the movie in dollars.

runtime: The runtime of the movie in minutes.

spoken_languages: A stringified list of spoken languages in the film.

status: The status of the movie (Released, To Be Released, Announced, etc.)

tagline: The tagline of the movie.

title: The Official Title of the movie.

video: Indicates if there is a video present of the movie with TMDB.

vote_average: The average rating of the movie.

vote_count: The number of votes by users, as counted by TMDB.

In [5]:
print("Null Values")
print(metadata.isna().sum())

Null Values
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [6]:
print("IDs with Duplicates")
bool_series = metadata.duplicated()
print(metadata[bool_series].count())

IDs with Duplicates
adult                    13
belongs_to_collection     0
budget                   13
genres                   13
homepage                  2
id                       13
imdb_id                  13
original_language        13
original_title           13
overview                 13
popularity               13
poster_path              13
production_companies     13
production_countries     13
release_date             13
revenue                  13
runtime                  13
spoken_languages         13
status                   13
tagline                   4
title                    13
video                    13
vote_average             13
vote_count               13
dtype: int64

In [7]:
metadata.nunique()

adult                        5
belongs_to_collection     1698
budget                    1226
genres                    4069
homepage                  7673
id                       45436
imdb_id                  45417
original_language           92
original_title           43373
overview                 44307
popularity               44176
poster_path              45024
production_companies     22708
production_countries      2393
release_date             17336
revenue                   6863
runtime                    353
spoken_languages          1931
status                       6
tagline                  20283
title                    42277
video                        2
vote_average                92
vote_count                1820
dtype: int64

In [8]:
metadata['belongs_to_collection'].unique()

array(["{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",
       nan,
       "{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",
       ...,
       "{'id': 148603, 'name': 'Ducobu Collection', 'poster_path': '/rd7AWZUy2QFPIblNWToVmdfXQcA.jpg', 'backdrop_path': '/7mzKmoIrvGapvsSbAVlX4HtCnFj.jpg'}",
       "{'id': 152918, 'name': 'Mister Blot Collection', 'poster_path': '/44PYEwwjGts8pAob59RHd6zlkKc.jpg', 'backdrop_path': '/5uoPsNiFpUYNamSGqE8okN27VRK.jpg'}",
       "{'id': 200641, 'name': 'Red Lotus Collection', 'poster_path': '/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg', 'backdrop_path': '/3fhHbLeO3DqdHvgHg5szs399eBb.jpg'}"],
      dtype=object)

In [9]:
print(metadata['budget'].unique())
print((metadata.budget == '0').sum())
budget_sort = metadata.sort_values(by= 'budget')
print(budget_sort.groupby('budget')['id'].nunique())

['30000000' '65000000' '0' ... '3417000' '25868826' '1254040']
36573
budget
/ff9qCepilowshEtG2GYWwzt2bs4.jpg        1
/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg        1
/zaSf5OG7V8X8gqFvly88zDdRm46.jpg        1
0                                   36553
1                                      25
                                    ...
9900000                                 2
99000000                                1
994000                                  1
996519                                  1
998000                                  1
Name: id, Length: 1226, dtype: int64

In [10]:
metadata.groupby('genres')['id'].nunique()

genres
[]                                                                                                                                                                                                                 2442
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10751, 'name': 'Family'}, {'id': 14, 'name': 'Fantasy'}]                                                                                    1
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10751, 'name': 'Family'}]                                                                                                                   2
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10752, 'name': 'War'}]                                                                                                                      1
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 14, 'name': 'Fantasy'}]                                                                                                                     1
                                                                                                                                                                                                                   ...
[{'id': 99, 'name': 'Documentary'}, {'id': 9648, 'name': 'Mystery'}]                                                                                                                                                  4
[{'id': 99, 'name': 'Documentary'}]                                                                                                                                                                                2721
[{'name': 'Aniplex', 'id': 2883}, {'name': 'GoHands', 'id': 7759}, {'name': 'BROSTA TV', 'id': 7760}, {'name': 'Mardock Scramble Production Committee', 'id': 7761}, {'name': 'Sentai Filmworks', 'id': 33751}]       1
[{'name': 'Carousel Productions', 'id': 11176}, {'name': 'Vision View Entertainment', 'id': 11602}, {'name': 'Telescene Film Group Productions', 'id': 29812}]                                                        1
[{'name': 'Odyssey Media', 'id': 17161}, {'name': 'Pulser Productions', 'id': 18012}, {'name': 'Rogue State', 'id': 18013}, {'name': 'The Cartel', 'id': 23822}]                                                      1
Name: id, Length: 4069, dtype: int64

In [11]:
metadata['original_language'].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [12]:
metadata['overview'].value_counts(ascending=False)

No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                              3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
Young Cedric (Ceddie) Errol and his widowed mother (known only as "Dearest") live in genteel poverty in 1880s Brooklyn after the death of his father. Cedric's grandfather, the Earl of Dorincourt, has long ago disowned his son for marrying an American. But after the death of the Earl's remaining son, he decides to accept the little Cedric as Lord Fauntleroy, his heir.                                                                                                                                                                                                   1
Portland book editor Natalie Holland has chosen the wrong guy – another underachiever – once again. With her life going nowhere fast, she accepts a job offer from publisher and friend Avery Goldstein and moves to Los Angeles.  A woman of depth and principle, Portland chic Natalie is a fish out of water in LA. Things only get worse when she learns she’s been hired to edit the latest romance novel from bestselling author Beverly Wilcox, a powerful, glamorous and intimidating figure straight out of "The Devil Wears Prada".                                       1
A barren soundstage is stylishly utilized to create a minimalist small-town setting in which a mysterious woman named Grace hides from the criminals who pursue her. The town is two-faced and offers to harbor Grace as long as she can make it worth their effort, so Grace works hard under the employ of various townspeople to win their favor. Tensions flare, however, and Grace's status as a helpless outsider provokes vicious contempt and abuse from the citizens of Dogville.                                                                                          1
Disturbing the Peace follows a group of former enemy combatants - Israeli soldiers from the most elite units, and Palestinian fighters, many of whom served years in prison - who have come together to challenge the status quo and and say “enough".  The film traces their transformational journeys from soldiers committed to armed battle to non-violent peace activists.  It is a story of the human potential unleashed when we stop participating in a story that no longer serves us, and with the power of our convictions take action to create a new possibility.      1
An anonymous hacker has hacked all of Paris' cameras and observes the city unbeknownst to its inhabitants. Petty crimes and moments of stolen intimacy, he sees everything. Until the day that an explosion lays wasted to the Gare d'Austerlitz. The police starts tracking down an Al Queda satellite group. The hacker succeeds in finding images of the explosion and discovers that it was a young couple who planted the bomb. Using the city's cameras, he decides to hunt down the criminals.                                                                               1
Name: overview, Length: 44307, dtype: int64

In [13]:
metadata['popularity'].describe()

count     45461
unique    44176
top         0.0
freq         34
Name: popularity, dtype: object

In [14]:
metadata['production_companies'].value_counts(ascending=False)

[]                                                                                                                                                                                                                                             11875
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]                                                                                                                                                                                              742
[{'name': 'Warner Bros.', 'id': 6194}]                                                                                                                                                                                                           540
[{'name': 'Paramount Pictures', 'id': 4}]                                                                                                                                                                                                        505
[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]                                                                                                                                                                                  439
                                                                                                                                                                                                                                               ...
[{'name': 'Ameland Films', 'id': 64038}, {'name': 'Quadrant Motion Pictures', 'id': 64040}, {'name': 'Lawrence & Holloman Productions', 'id': 64041}]                                                                                              1
[{'name': 'Yari Film Group', 'id': 2448}, {'name': 'Archer Entertainment', 'id': 3577}]                                                                                                                                                            1
[{'name': 'Arte', 'id': 201}, {'name': 'Canal+', 'id': 5358}, {'name': 'Bayerischer Rundfunk (BR)', 'id': 7333}, {'name': 'Bavaria Film International', 'id': 11731}, {'name': 'Centre National de la Cinématographie (CNC)', 'id': 18367}]        1
[{'name': 'Mezhrabpomfilm', 'id': 8970}, {'name': 'Azerfilm', 'id': 69475}]                                                                                                                                                                        1
[{'name': 'A&E Television Networks', 'id': 11858}]                                                                                                                                                                                                 1
Name: production_companies, Length: 22708, dtype: int64

In [15]:
metadata['production_countries'].value_counts(ascending=False)

[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                                                                                                                           17851
[]                                                                                                                                                                                                                                                                    6282
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]                                                                                                                                                                                                                      2238
[{'iso_3166_1': 'FR', 'name': 'France'}]                                                                                                                                                                                                                              1654
[{'iso_3166_1': 'JP', 'name': 'Japan'}]                                                                                                                                                                                                                               1356
                                                                                                                                                                                                                                                                     ...
[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'CL', 'name': 'Chile'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                                                1
[{'iso_3166_1': 'AR', 'name': 'Argentina'}, {'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'FR', 'name': 'France'}]                                                                                                                                               1
[{'iso_3166_1': 'TH', 'name': 'Thailand'}, {'iso_3166_1': 'AT', 'name': 'Austria'}, {'iso_3166_1': 'FR', 'name': 'France'}]                                                                                                                                              1
[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]        1
[{'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'PL', 'name': 'Poland'}]                                                                                                                                                                                         1
Name: production_countries, Length: 2393, dtype: int64

In [16]:
metadata['release_date'].value_counts(ascending=False)

2008-01-01    136
2009-01-01    121
2007-01-01    118
2005-01-01    111
2006-01-01    101
             ...
1956-04-13      1
1955-11-03      1
2003-03-01      1
2002-12-24      1
1984-01-03      1
Name: release_date, Length: 17336, dtype: int64

In [17]:
print(metadata['revenue'].describe(include='all'))
metadata['revenue'].value_counts(ascending=False)

count    4.546000e+04
mean     1.120935e+07
std      6.433225e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

0.0            38052
12000000.0        20
10000000.0        19
11000000.0        19
2000000.0         18
               ...
245724603.0        1
12212123.0         1
8203235.0          1
25900.0            1
12032983.0         1
Name: revenue, Length: 6863, dtype: int64

In [18]:
print(metadata['runtime'].describe(include='all'))
metadata['runtime'].value_counts(ascending=False)

count    45203.000000
mean        94.128199
std         38.407810
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

90.0      2556
0.0       1558
100.0     1470
95.0      1412
93.0      1214
          ...
238.0        1
316.0        1
258.0        1
780.0        1
1256.0       1
Name: runtime, Length: 353, dtype: int64

In [19]:
metadata['spoken_languages'].value_counts(ascending=False)

[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                             22395
[]                                                                                                                                                                    3829
[{'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                             1853
[{'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                  1289
[{'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                             1218
                                                                                                                                                                     ...
[{'iso_639_1': 'ha', 'name': 'Hausa'}, {'iso_639_1': 'ig', 'name': ''}, {'iso_639_1': 'en', 'name': 'English'}]                                                          1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]        1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]                                                   1
[{'iso_639_1': 'ca', 'name': 'Català'}, {'iso_639_1': 'ja', 'name': '日本語'}]                                                                                              1
[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'zh', 'name': '普通话'}]                                                  1
Name: spoken_languages, Length: 1931, dtype: int64

In [20]:
metadata['status'].value_counts(ascending=False)

Released           45014
Rumored              230
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [21]:
metadata['tagline'].value_counts(ascending=False)

Based on a true story.                        7
Trust no one.                                 4
-                                             4
Be careful what you wish for.                 4
Drama                                         3
                                             ..
His First Big-Screen Adventure!               1
A Thousand Thrills, And Hayley Mills!         1
Evil's Roots Run Deep                         1
One Final Night to Save the Day.              1
Nothing is more mysterious than the blood.    1
Name: tagline, Length: 20283, dtype: int64

In [22]:
metadata['title'].value_counts(ascending=False)

Cinderella                              11
Hamlet                                   9
Alice in Wonderland                      9
Les Misérables                           8
Beauty and the Beast                     8
                                        ..
On the Town                              1
Wal-Mart: The High Cost of Low Price     1
Jackass 3D                               1
Serial                                   1
Lies My Father Told Me                   1
Name: title, Length: 42277, dtype: int64

In [23]:
metadata['video'].value_counts(ascending=False)

False    45367
True        93
Name: video, dtype: int64

In [24]:
print(metadata['vote_average'].describe(include='all'))
metadata['vote_average'].value_counts(ascending=False)

count    45460.000000
mean         5.618207
std          1.924216
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

0.0    2998
6.0    2468
5.0    2001
7.0    1886
6.5    1722
       ...
9.4       3
9.8       1
0.7       1
9.6       1
1.1       1
Name: vote_average, Length: 92, dtype: int64

In [25]:
print(metadata['vote_count'].describe(include='all'))
metadata['vote_count'].value_counts(ascending=False)

count    45460.000000
mean       109.897338
std        491.310374
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

1.0       3264
2.0       3132
0.0       2899
3.0       2787
4.0       2480
          ...
4461.0       1
1085.0       1
1539.0       1
2487.0       1
3086.0       1
Name: vote_count, Length: 1820, dtype: int64

# Checking links:

In [26]:
print("Shape")
print(links.shape)

Shape
(9125, 3)

In [27]:
print('Column Headers')
for col in links.columns:
    print(col)

Column Headers
movieId
imdbId
tmdbId

In [28]:
print("Null Values")
print(links.isna().sum())

Null Values
movieId     0
imdbId      0
tmdbId     13
dtype: int64

In [29]:
print("Duplicates")
bool_series = links.duplicated()
print(links[bool_series])

Duplicates
Empty DataFrame
Columns: [movieId, imdbId, tmdbId]
Index: []

In [30]:
links.nunique()

movieId    9125
imdbId     9125
tmdbId     9112
dtype: int64

In [31]:
rows_with_NaN = links[links.isnull().any(axis=1)]

In [32]:
rows_with_NaN

      movieId   imdbId  tmdbId
607       720   118114     NaN
608       721   114103     NaN
640       769   116992     NaN
910      1133   111357     NaN
2282     2851    81454     NaN
3246     4051    56600     NaN
5826    26587    92337     NaN
7408    72781  1104746     NaN
7438    73759   495212     NaN
7588    79299   874957     NaN
8045    94466  2085059     NaN
8505   108548   898266     NaN
8507   108583    72500     NaN

# Checking ratings:

In [33]:
print("Shape")
print(ratings.shape)

Shape
(100004, 4)

In [34]:
print('Column Headers')
for col in ratings.columns:
    print(col)

Column Headers
userId
movieId
rating
timestamp

In [35]:
print("Null Values")
print(ratings.isna().sum())

Null Values
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [36]:
print("Duplicates")
bool_series = ratings.duplicated()
print(ratings[bool_series])

Duplicates
Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [37]:
ratings.nunique()

userId         671
movieId       9066
rating          10
timestamp    78141
dtype: int64

In [38]:
ratings['rating'].unique()

array([2.5, 3. , 2. , 4. , 3.5, 1. , 5. , 4.5, 1.5, 0.5])